#full-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#input-container {
  background: #8d229a;
}

#good-container {
  background: #af9cb1;
  flex-grow: 2;
}

#bad-container {
  background: #f3d2aa;
  flex-grow: 2;
}
